.browse-product {
    flex-grow: 1;

    .browse-product__image-container {
        display: flex;
        justify-content: center;

        .browse-product__image {
            width: 30vw;
            height: 60vh;
            overflow: hidden;
            border-radius: 16px;
            display: flex;
            justify-content: center;

            img {
                width: auto;
                max-height: 100%;
            }
        }
    }

    .browse-product__name {
        text-align: center;
        margin-top: 2rem;
    }
}