.product {
    flex-grow: 1;
    height: 60vh;
    $border-radius: 32px;
    border-radius: 0 $border-radius $border-radius $border-radius;
    background-color: #DFEBF7;

    .product__image-container {
        display: flex;
        justify-content: center;
        height: 50%;

        .product__image {
            width: 100%;
            background-color: antiquewhite;
            border-radius: 0 $border-radius 0 0;
            overflow: hidden;

            img {
                width: inherit;
                max-height: 100%;
            }
        }
    }

    .product__info-container {
        margin: 0 32px;
        height: 50%;

        display: flex;
        justify-content: space-around;
        flex-direction: column;

        button {
            float: right;
        }

        .product__info-summary {
            text-align: center;
            clear: both;
        }
    }
}