.categories-name-page {
    .shop-container {
        margin: 1rem 0;

        .shop-container__elements {
            display: flex;
            flex-wrap: wrap;

            &[data-is-loading=true] {
                display: block;
            }

            .shop-element {
                width: 200px;

                .shop-element__image {
                    width: 200px;
                    height: 300px;
                    border: 1px solid;

                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }

                p {
                    text-align: center;
                }
            }
        }
    }
}