.categories-name-page {
    .shop-container {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;

        &[data-is-loading] {
            display: block;
        }

        .shop-element {
            width: 200px;

            .shop-element__image {
                width: 200px;
                height: 300px;
                border: 1px solid;

                display: flex;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            p {
                text-align: center;
            }
        }
    }
}