.manage-page {
    .creator-container {
        .manage-container{
            display: flex;
            justify-content: center;
        }
        li {
            border: 1px solid;
            padding: 8px;
            min-width: 60%;
            
        }
        a{
            li{
                transition: 382ms;
                background-color: white;
                color: grey;

                padding: 1rem;
                border: 1px solid grey;
            }
        }
        a:hover{
            li {
                transition: 618ms;
                background-color: grey;
                color: white;
            }
        }
        a + a > li {
            margin-top: 1px;
        }
    }
}