.manage-page {
    .creator-container {
        .manage-container{
            display: flex;
            justify-content: center;
        }
        h3 {
            margin: 2rem 0;
            text-align: center;
        }

        li {
            border: 1px solid;
            padding: 8px;
        }
    }
}