.organization-offers-page {
    .offer-container {
        margin: 1rem 0;

        .offer-container__elements {
            display: flex;
            flex-wrap: wrap;

            &[data-is-loading=true] {
                display: block;
            }

            a {
                margin: 1rem;

                .offer-element {
                    .offer-element__image {
                        width: 200px;
                        height: 300px;
                        border: 1px solid;
                    }

                    .offer-element__name {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}