.manage-page {
    .sub-settings-header {
        text-align: center;
        text-transform: capitalize;
        margin: 2rem 0;
    }

    .content-box {
        display: flex;
        margin-bottom: 2rem;

        .link-container {
            width: 30%;

            ul {
                margin: 0;
                padding: 4px;

                a {
                    li {
                        transition: 382ms;
                        background-color: white;
                        color: grey;

                        padding: 1rem;
                        border: 1px solid grey;
                    }
                }

                a:hover {
                    li {
                        transition: 618ms;
                        background-color: grey;
                        color: white;
                    }
                }

                a + a > li {
                    margin-top: 1px;
                }
            }
        }

        .creator-container {
            width: 70%;
            display: flex;
            justify-content: center;

            .creator-form {
                width: 50%;

                div + div {
                    margin-top: .618rem;
                }

                .navigation-box {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }

    .data-container {
        h3 {
            text-transform: capitalize;
            text-align: center;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 256px;
                padding: 8px;
                margin: 8px;
                background-color: bisque;
                border-radius: 1rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}