.manage-contact-us-page {
    .contact-management-container {
        .creator-container {
            display: flex;
            justify-content: center;

            > div {
                width: 50%;
            }

            .contact-creator {
                .contact-submit {
                    display: flex;
                    justify-content: flex-end;
                    margin: 1rem 0;
                }
            }
        }

        .contact-request-list-container {
            display: flex;
            justify-content: center;

            ul {
                padding: 0;
            }

            .contact-request-list {
                width: 50%;

                dialog {
                    z-index: 999;
                }

                li {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0 0 0 1rem;
                    }
                }

                li + li {
                    margin-top: 1rem;
                }

                .request-count {
                    text-align: center;
                }
            }
        }
    }
}

.dialog-message {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    width: 500px;
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        width: 100%;

        h3 {
            text-align: center;
        }

        p {
            margin: 0 4rem;
        }

        > div {
            margin-top: 4rem;

            display: flex;
            justify-content: center;
        }
    }
}