.settings-page {
    .content-box {
        display: flex;

        .link-container {
            width: 30%;
            min-height: 100vh;

            ul {
                margin: 0;
                padding: 0;

                a {
                    li {
                        transition: 382ms;
                        background-color: white;
                        color: grey;

                        padding: 1rem;
                        border: 1px solid grey;
                    }
                }

                a:hover {
                    li {
                        transition: 618ms;
                        background-color: grey;
                        color: white;
                    }
                }

                a + a > li {
                    margin-top: 1px;
                }
            }
        }

        .creator-container {
            width: 70%;
            min-height: 100vh;
            display: flex;
            justify-content: center;

            .creator-form {
                width: 50%;

                .navigation-box {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}