@import "constant-globals";

$welcome-fragment-height: calc(100vh - $top-bar-height);

.main-page {
    background-color: #F1F1F1;
}

.welcome-fragment {
    display: flex;

    .welcome-fragment__text {
        width: 40vw;
        height: $welcome-fragment-height;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .welcome-fragment__text-container {
            width: 80%;

            p {
                margin: 3rem 0;
            }
        }
    }

    .welcome-fragment__image {
        width: 60vw;
        height: $welcome-fragment-height;
        margin-right: -$page-box-margin;

        background-image: url('/pages/main/benefits-for-you.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 0 0 0 40%;
    }
}

.browse-products {
    .browse-products__header {
        text-align: center;
        margin: 2.5rem 0 3rem 0;
    }

    > div {
        display: flex;
        align-items: center;

        .browse-products__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100vw;
        }
    }

    .other-products {
        flex-direction: column;

        .other-products__pagination-container {
            margin: 1rem 0;

            .product-pagination__paginator {
                width: 1.5rem;
                height: 1.5rem;

                appearance: none;
                border: 8px solid #1C1B1F;
                border-radius: 50%;

                &:checked {
                    background-color: #1C1B1F;
                }
            }

            .product-pagination__paginator + .product-pagination__paginator {
                margin-left: 0.5rem;
            }
        }
    }
}