.settings-page {
    .settings-container {
        display: flex;
        justify-content: center;

        h3 {
            text-align: center;
            margin: 2rem 0;
        }

        .settings-section {
            .settings-section__button {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                margin: 1rem 0;
            }
        }
    }
}